body, h1, h2 {
  text-align: center;
  font-family: "OpenSans-Light","OpenSans",sans-serif;
  font-weight: 300;
  color: #37362F;
}

h1 { 
  font-size: 50px;
  padding: 30px 0 20px;
}

#data-box { 
  min-height: 400px;
}

.source-link {
  position: fixed;
  top: 10px;
  right: 10px;
}
